@use './styles//variables.scss' as *;

#root {
  display: flex;
  justify-content: center;
}

.parent-container {
  width: 1240px;
  min-height: 1754px;
  padding: 3rem;
  display: flex;
  background: #fff;
  box-sizing: border-box;
  flex-direction: column;

  section {
    color: $primary;
  }
}