:root {
  font-family: 'Roboto', 'Open Sans' !important;
  line-height: 1.5;
  font-weight: 400;

  background-color: #e9e9e9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #333;
  --border: #999999;
  --ten-px: 0.625rem;
}